.box {
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 36px;
    font-weight: bold;
}

.inputBox {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

/* todo править стили */
label {
    margin-top: 20px;
}
