.cards-grid {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.card-item {
    width: 400px;
    margin: 20px;
}

.card-cover {
    height: 150px;
    object-fit: cover;
}

.progress-text {
    color: #198EFB;
}
